.registerPatientScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #38a3a5;
}

.registerPatientScreen > input {
  width: 20rem;
  height: 3rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
}

.registerPatientScreen > button {
  width: 20rem;
  height: 3rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #80ed99;
  border: 0;
  border-radius: 5px;
}
