.headerComponent {
  height: 10vh;
  padding: 0 5rem 0 5rem;
  display: flex;
  background-image: url(../../assets/bg.jpg);
  align-items: center;
  justify-content: space-between;
}

.headerComponent img {
  height: 4rem;
}

.headerComponent h1 {
  color: black;
  position: absolute;
  left: 11%;
  font-size: 2rem;
  color: whitesmoke;
}

.headerComponent > p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #80ed99;
}
