.patientScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2rem 5rem 2rem 5rem;
  width: 100%;
}

body{
  background-image: url(../../assets/bg.jpg);
}

.patientScreen_data {
  margin-bottom: 20px;
  width: 80%;
}
.patientScreen_data h2{
  color: white;
}
.patientScreen_data > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.patientScreen_data:last-child {
  margin-bottom: 0;
}

.record_delete{
  margin: 10px;
}