.registerScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: url(../../assets/bg.jpg);
}
.form-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vh;
  flex-direction: column;
  background-color:beige;
  border-radius: 10px;
  position: relative;
}
.form-data-hearder {
  position: absolute;
  width: 100%;
  top: 0;
  border-radius: 10px 10px 0px 0px;
  color:black;
  text-align: center;
}

.form-data-hearder h1{
  padding: 15px;
  color: #ffc000;
}

.form-data > input {
  width: 310px;
  line-height: 60px;
  /* background: #0e7050; */
  border-radius: 40px;
  border: 0;
  padding-left: 38px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: 10px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(39, 162, 122, 0.2);
  box-shadow: 0px 10px 30px 0px rgba(39, 162, 122, 0.2);
}

.form-data > button,
.form-data > .button {
  width: 20rem;
  height: 3rem;
  margin-bottom: 2rem;
  position:absolute;
  z-index: 10;
  bottom: 0;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc000;
  border: 0;
  border-radius: 5px;
  transition-timing-function: ease;
  transition-duration: .5s;
}

.form-data > button:hover{
  transform: scale(1.05);
}
